.ipynb_checkpoints
.DS_Store
.idea

__pycache__/

data/

save_folder/

result/

scores_aicures/

aicures_data/

Ax_output/

model/
BindingDB_All_2020m2.tsv.zipzmxtzist.tmp
df.pkl
df_data1.csv.gz
df_data.pkl
df_data.h5
df_data.csv
df_data_small.pkl
df_data2.csv.gz
df_data3.csv.gz
df_data_small2.pkl
df_data_small3.pkl
